.all {
  margin: 0 auto;
  display: flex;
}
.top {
  font-size: 20px;
  display: flex;
}
.bottom {
  width: 200px;
  height: 200px;
  border: 1px solid;
}
.singler {
  margin-left: auto;
  margin-right: 25%;
}
