.ability {
  margin-left: calc(50% - 215px);
  margin-bottom: 10px;
}

tr {
  width: auto;
  border: 1.5px solid;
  border-collapse: collapse;
}
th {
  width: 50px;
  border: 1px solid;
}
td {
  width: 140px;
  border: 1px solid;
}
